//////////////////////////////
// Setup Styles
//////////////////////////////

@import "setup.scss";
@import "../icons/bootstrap-icons.css";

//////////////////////////////
// Progress Bar
//////////////////////////////

#progressbar {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 0;
  overflow: hidden;
  color: #495057;
  @media (prefers-color-scheme: dark) { color: #e1e1e1; }
}

#progressbar li {
  position: relative;
  float: left;
  width: 25%;
  list-style: none;
  font-size: 12px;
}

#progressbar li:before {
  display: block;
  width: 50px;
  height: 50px;
  line-height: 45px;
  font-size: 18px;
  color: white;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 2px;
}

#progressbar li:after {
  position: absolute;
  left: 0;
  top: 25px;
  content: '';
  width: 100%;
  height: 2px;
  z-index: -1;
}

#progressbar li:before, #progressbar li:after {
  background-color: #6c757d;
}

#progressbar li.active:before, #progressbar li.active:after {
  background-color: #0d6efd;
}

//////////////////////////////
// Text Utilities
//////////////////////////////

.text-justify {
  text-align: justify;
  text-justify: inter-word;
}
