//////////////////////////////
// Bootstrap
//////////////////////////////

@import "../styles/bootstrap.css";

//////////////////////////////
// Various Modifications
//////////////////////////////

.nav-link {
  text-align: left;
  min-width: 13em;
}

ol > li {
  padding: 3px;
}

ul {
  padding-left: 1rem;
}
