//////////////////////////////
// Setup Styles
//////////////////////////////

@import "setup.scss";
@import "../icons/bootstrap-icons.css";

//////////////////////////////
// Setup Wizard
//////////////////////////////

#progressbar {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 0;
  overflow: hidden;
  color: #6c757d;
}

#progressbar li {
  position: relative;
  float: left;
  width: 25%;
  list-style-type: none;
  font-size: 12px;
}

#progressbar li:before {
  display: block;
  width: 50px;
  height: 50px;
  line-height: 45px;
  font-size: 18px;
  background-color: #6c757d;
  color: white;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 2px;
}

#progressbar li:after {
  position: absolute;
  left: 0;
  top: 25px;
  content: '';
  width: 100%;
  height: 2px;
  background-color: #6c757d;
  z-index: -1;
}

#progressbar li.active:before, #progressbar li.active:after {
  background-color: #0d6efd;
}

//////////////////////////////
// Various Modifications
//////////////////////////////

.text-justify {
  text-align: justify;
  text-justify: inter-word;
}

blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 0.5em 10px;
}

//////////////////////////////
// Dark Theme Modifications
//////////////////////////////

@media (prefers-color-scheme: dark) {
  .bg-light, blockquote {
    background-color: #2f2f2f !important
  }

  blockquote {
    border-left: 5px solid #161616;
  }

  .text-secondary, #progressbar {
    color: #e1e1e1 !important;
  }
}
