# Auto detect text files and perform LF normalization
*   text eol=lf
*   text=auto
.*  text eol=lf
.*  text=auto

# Declare files that must have CRLF line endings
*.bat   text eol=crlf
*.cmd   text eol=crlf
*.ps1   text eol=crlf

# Exclude unused files in archive
.editorconfig       export-ignore
.gitattributes      export-ignore
.gitignore          export-ignore
.github             export-ignore
benches             export-ignore
tests               export-ignore
