//////////////////////////////
// Bootstrap
//////////////////////////////

@import "/node_modules/bootstrap-dark-5/dist/css/bootstrap-dark.css";

//////////////////////////////
// Various Modifications
//////////////////////////////


html, body {
  min-width: 400px;
  overflow-x: hidden;
  scrollbar-width: thin;
}

.card {
  z-index: 0;
  border: none;
  border-radius: 0;
}

.card-body {
  max-width: 400px;
}

.form-label {
  margin-bottom: 0.1rem;
}

.form-control {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  font-size: 0.875rem;
}

.toast {
  position: fixed;
  bottom: 1.5rem;
  left: 50%;
  transform: translate(-50%, 0px);
  z-index: 20;
}
