//////////////////////////////
// Popup Styles
//////////////////////////////

@import "popup.scss";

//////////////////////////////
// Card Modifications
//////////////////////////////

.card-body {
  padding: 0;
}

.list-group-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
