//////////////////////////////
// Popup Styles
//////////////////////////////

@import "popup.scss";
@import "/node_modules/bootstrap-icons/font/bootstrap-icons.css";

//////////////////////////////
// Form Styles
//////////////////////////////

.form-label {
  margin-bottom: 0.1rem;
}

.form-control {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  font-size: 0.875rem;
}

//////////////////////////////
// Card & Size Modifications
//////////////////////////////

html, body {
  min-height: 33rem;
}

.card-body {
  padding: 0;
}

.card-body, .offcanvas-body {
  scrollbar-width: thin;
}

.list-group-flush > .list-group-item {
  padding: 0.5rem 0.75rem;
}

.list-group-flush > .list-group-item:last-child {
  border-bottom-width: 1px;
}

.list-group-item-action {
  padding: 0.5rem 0.75rem;
  border-top: none;
}

.site-icon {
  height: 32px;
  width: 32px;
}

.text-overflow-hide, .text-overflow-hide > * {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.25rem;
}

.tiny {
  font-size: 0.7em;
}

//////////////////////////////
// Color Modifications
//////////////////////////////

.bg-warning > .btn-close {
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}

@media (prefers-color-scheme: dark) {
  input {
    background-color: transparent;
    color: #b1b1b1;
  }
}
