//////////////////////////////
// Popup Styles
//////////////////////////////

@import "popup.scss";
@import "../icons/bootstrap-icons.css";

//////////////////////////////
// Card & Size Modifications
//////////////////////////////

html, body {
  min-height: 34rem;
}

#card-navigation {
  border-bottom-width: 0 !important;
}

.card-body {
  padding: 0;
}

.card-footer {
  position: sticky;
  bottom: 0;
  width: 100%;
}

.card-offcanvas-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.card-offcanvas-header .btn-close {
  margin-right: -0.5rem;
}

.card-offcanvas-body {
  padding: 1rem 1rem;
}

.list-group-flush > .list-group-item {
  padding: 0.5rem 0.75rem;
}

.list-group-border-last > .list-group-item:last-child {
  border-bottom-width: 1px;
}

.list-group-no-border > .list-group-item {
  border: none;
  padding-bottom: 0;
}

.list-group-item-action {
  padding: 0.5rem 0.75rem;
  border-top: none;
}

.site-icon {
  height: 32px;
  width: 32px;
}

.text-overflow-hide, .text-overflow-hide > * {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.25rem;
}

.tiny {
  font-size: 0.7em;
}

#search-box {
  transition: visibility 0.18s linear, opacity 0.18s linear;
  visibility: visible;
  opacity: 1;
}

#search-box.invisible {
  visibility: hidden;
  opacity: 0;
}

//////////////////////////////
// Letter Icon
//////////////////////////////

.letter-icon {
  background-color: #505050;
}

.letter-icon::before {
  content: attr(data-letter);
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: white;
  height: 32px;
  width: 32px;
  font-size: 1.2rem;
}

//////////////////////////////
// Icon Link Tab
//////////////////////////////

.icon-link {
  color: #555d65 !important;
}

.icon-link:hover {
  color: #3e4449 !important;
}

.icon-link.active {
  color: #272a2d !important;
}

@media (prefers-color-scheme: dark) {
  .icon-link {
    color: #989898 !important;
  }

  .icon-link:hover {
    color: #b1b1b1 !important;
  }

  .icon-link.active {
    color: #cbcbcb !important;
  }
}
