//////////////////////////////
// Popup Styles
//////////////////////////////

@import "popup.scss";
@import "/node_modules/bootstrap-icons/font/bootstrap-icons.css";

//////////////////////////////
// Form Styles
//////////////////////////////

.form-label {
  margin-bottom: 0.1rem;
}

.form-control {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  font-size: 0.875rem;
}

//////////////////////////////
// Card & Size Modifications
//////////////////////////////

html, body {
  min-height: 33rem;
}

.card-body {
  padding: 0;
}

.card-body, .offcanvas-body {
  scrollbar-width: thin;
}

.list-group-flush > .list-group-item {
  padding: 0.5rem 0.75rem;
}

.list-group-flush > .list-group-item:last-child {
  border-bottom-width: 1px;
}

.list-group-item-action {
  padding: 0.5rem 0.75rem;
  border-top: none;
}

.site-icon {
  height: 32px;
  width: 32px;
}

.text-overflow-hide, .text-overflow-hide > * {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.25rem;
}
