//////////////////////////////
// Bootstrap
//////////////////////////////

@import "/node_modules/bootstrap-dark-5/dist/css/bootstrap-dark.css";

//////////////////////////////
// Improve Card & Popup Width
//////////////////////////////


html, body {
  min-width: 400px;
  overflow-x: hidden;
  scrollbar-width: thin;
}

.card {
  z-index: 0;
  border: none;
  border-radius: 0;
}

.card-body {
  max-width: 400px;
}

//////////////////////////////
// Error Toast
//////////////////////////////

.toast {
  position: fixed;
  bottom: 1.5rem;
  left: 50%;
  transform: translate(-50%, 0px);
  z-index: 20;
}
