//////////////////////////////
// Bootstrap
//////////////////////////////

@import "/node_modules/bootstrap-dark-5/dist/css/bootstrap-dark.css";

//////////////////////////////
// Improve Card & Popup Width
//////////////////////////////

html, body {
  min-width: 400px;
  overflow-x: clip;
  scrollbar-width: thin;
}

.card {
  z-index: 0;
  border: none;
  border-radius: 0;
}

.card-header {
  font-weight: 600 !important;
}

.card-body {
  overflow-y: auto;
  max-width: 400px;
}

.card-body, .offcanvas-body {
  scrollbar-width: thin;
}

//////////////////////////////
// Form Styles
//////////////////////////////

.form-label {
  margin-bottom: 0.1rem;
  font-weight: 600 !important;
}

.form-control {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  font-size: 0.875rem;
}

//////////////////////////////
// Error Toast
//////////////////////////////

.toast {
  position: fixed;
  bottom: 1.5rem;
  left: 50%;
  transform: translate(-50%, 0px);
  z-index: 9999;
}

//////////////////////////////
// Fix Header Background
//////////////////////////////

.card-header, .card-footer {
  background-color: #f7f7f7;
}

@media (prefers-color-scheme: dark) {
  .card-header, .card-footer {
    background-color: #202020;
  }

  .card-offcanvas-body {
    background-color: #222;
  }
}

//////////////////////////////
// Fix Dark Theme
//////////////////////////////

.bg-warning > .btn-close {
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}

@media (prefers-color-scheme: dark) {
  input {
    background-color: transparent;
    color: #b1b1b1;
  }
}
