//////////////////////////////
// Bootstrap
//////////////////////////////

@import "../styles/bootstrap.css";

//////////////////////////////
// Improve Card & Popup Width
//////////////////////////////

html, body {
  min-width: 400px;
  overflow-x: clip;
  scrollbar-width: thin;
}

.card {
  z-index: 0;
  border: none;
  border-radius: 0;
}

.card-header {
  font-weight: 600 !important;
}

.card-body {
  overflow-y: auto;
  max-width: 400px;
}

.card-body, .offcanvas-body {
  scrollbar-width: thin;
}

//////////////////////////////
// Form Styles
//////////////////////////////

.form-label {
  margin-bottom: 0.1rem;
  font-weight: 600 !important;
}

.form-control {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  font-size: 0.875rem;
}

//////////////////////////////
// Error Toast
//////////////////////////////

.toast {
  position: fixed;
  bottom: 1.5rem;
  left: 50%;
  transform: translate(-50%, 0px);
  z-index: 9999;
}

//////////////////////////////
// Fix Header Background
//////////////////////////////

.card-header, .card-footer {
  background-color: #f7f7f7;
}

@media (prefers-color-scheme: dark) {
  .card-header, .card-footer {
    background-color: #1a1a1a;
  }

  .card-offcanvas-body {
    background-color: #1d1d1d;
  }

  .modal-backdrop {
    --bs-backdrop-opacity: 0.75;
  }
}

//////////////////////////////
// Fix Dark Theme
//////////////////////////////

.bg-warning .btn-close {
  filter: unset;
}
